body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 0;
    padding: 0;
    background-image: url('https://cdn.vectorstock.com/i/1000x1000/36/05/shiny-raksha-bandhan-festival-background-vector-43393605.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); /* White overlay with 50% opacity */
    z-index: -1;
}

h1 {
    color: #c31152;
    margin-top: 20px;
    position: relative;
    z-index: 1;
}

.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    position: relative;
    z-index: 1;
}

.card {
    margin: 15px;
    border: 2px solid #dd3875;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    width: 220px;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.card:active {
    transform: scale(1.05);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.card a {
    text-decoration: none;
}
